{% extends "base.html.twig" %}


{% block body %}
<div class="row">
  <div class="card text-center">
    <div class="card-body">
    <h3 class="card-title">Bienvenue {{applicant.FirstName}}</h3>
      <p>Votre compte est en attente de validation</p>
      <p>Une fois celui-ci validé c'est ici que vous pourez postuler</p>
    </div>
  </div>
</div>

  
{% endblock %}
